.goToStore{
  box-sizing: border-box ;
  border: solid 1px $lightGrayBG;
  background-color: $lightGrayBG;
  min-height: 350px;

  .boxToStore{
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    color: #333333;
    text-align: left;
    margin: 0 1%;
    width: 47%;
    height: 100%;
  }
  .modules{
    display: block;
    margin: 10px 0;
  }
  .floatleft{
    float: left;
  }
  .marginLeft{
    margin-left: 150px;
  }

   button{
    margin: 10px 0;
    background-color: transparent;
    box-sizing: border-box;
    border: solid 1px $lightGrayP;
    width: 225px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
  }
  h3{
    margin: 35px 0;
    text-align: left;
  }
}
