.ourBlog {
  text-align: center;
  .itemBoxBlog {
    display: inline-block !important;
    vertical-align: top;
    box-sizing: border-box;
    width: 18% !important;
    margin: 0.5% !important;
    img{
      width: 100%;
      display: block;
    }
    .discription {
      position: static;
      padding: 5px;
      text-align: left;
      width: 100%;
      background-color: #ffffff;
      h6 {
        color: $orange !important;
        font-weight: bolder;
        font-size: 18px !important;
        margin: 10px 0;
      }
     p {
        color: $lightGrayP;
        font-family: Sans-Serif, serif;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

