.portfolio{
  min-height: 450px;
  text-align: center;
  color: $lightGrayP;
  .slick-list { padding: 0 0!important; }
}
.slides{
  box-sizing: border-box;
  margin: 0 auto!important;
  text-align: justify;
  width: 90%;
  padding: 0;
  .slick-prev:before, .slick-next:before{
    font: normal normal normal 80px/1 FontAwesome !important;
  }
  &.slick-slider{
    margin-top: -50px;
  }
}

.slick-prev:hover, .slick-next:hover{
  cursor: pointer;
  background-color: $lightGrayBG;
}
.itemBox{
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 24%;
  margin: 0.5%;
  border: solid 1px $lightGrayP;
  height: 570px;
  img{
    width: 100%;
  }
}

.discription{
  position: absolute;
  padding: 5px;
  text-align: left;
  width: 100%;
  background-color: #ffffff;
  bottom: 0;
  h6{
    color: $lightGrayP;
    font-weight: bolder;
    font-size: 20px;
    margin: 10px 0;
  }
  p {
    color: $lightGrayP;
    font-family: Sans-Serif, serif;
    font-size: 14px;
    line-height: 20px;
  }
  i{
    position: absolute;
    right: 20px;
    top: 50%
  }
}
.discription:hover{
  cursor: pointer;
  background-color: $lightGrayBG;
}
