.weCool{
  box-sizing: border-box ;
  border: solid 1px $lightGrayBG;
  background-color: $lightGrayBG;
  min-height: 350px;

  p{
    color: $lightGrayP;
    font-family: Sans-Serif;
    font-size: 14px;
    line-height: 20px;
  }
}
.content{
  vertical-align: top;
}