.work{
  text-align: center;
  background-color: $orange;
  padding: 50px;
  button{
    padding-left: 10px ;
    padding-right: 10px ;
    color: white;
    margin: 10px 0;
    background-color: transparent;
    box-sizing: border-box;
    border: solid 1px white;
  }
  button:hover{
    color: $orange;
    background-color: white;
  }
}